<ion-header>
  <ion-toolbar>
    <ion-title>
      Bank Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label></ion-label>
    <ion-select value="{{selectedCity}}" (ionChange)="onSelectChange($event)" okText="OK">
      <ion-select-option value="BANGALORE">BANGALORE</ion-select-option>
      <ion-select-option value="CHENNAI">CHENNAI</ion-select-option>
      <ion-select-option value="MUMBAI">MUMBAI</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterBanks($event)"></ion-searchbar>

  <ion-card *ngFor="let item of items">
    <ion-card-header>
      <ion-card-subtitle>Bank Name : {{item.bank_name}}</ion-card-subtitle>
      <ion-card-title>Branch : {{item.branch}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>IFSC : {{item.ifsc}}</ion-card-content>
  </ion-card>

</ion-content>